<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>adminCabinet</title>
    <header th:insert="fragments/_header"></header>
</head>
<body>

<h1> Кабинет администратора_adminName </h1>   //передать имя администратора, отобразить в строке
<p>Добавить нового пользователя</p>
<p>Удалить пользователя</p>
<p>Вывести список всех пользователей</p>
<p>Вывести данные определенного пользователя</p>

<a th:href="@{/}">Log out</a><br>
<a th:href="@{/}">На главную страницу</a><br>

</body>
</html>