<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <header th:insert="fragments/_header"></header>
</head>
<body>

<h1>Регистрация</h1>

<form method="post" action="/reg" th:action="@{/reg}" th:object="${ModelAttribute}">
        <input type="text" th:field="*{username}"/>
        <input type="password" th:field="*{password}"/>
    <button><input type="submit" value="Submit"/></button>
</form>

<a th:href="@{/}">На главную страницу</a>

</body>
</html>